@page "/articulos"
@rendermode InteractiveServer
@using MyBlazorApp.ViewModels
@inject MyBlazorApp.Services.IArticulosService ArticulosSvc


<PageTitle>Articulos</PageTitle>

<h1>Artículos</h1>


@if (articulos == null)
{
    <p>Cargando...</p>
}
else
{
    <ul>
        @foreach (var item in articulos)
        {
            <li>@item.Id - @item.Descripcion - @item.Precio €</li>
        }
    </ul>
}

<hr />

Edite el Artículo:

<EditForm FormName="EditArticuloForm" Model="Articulo" class="d-flex gap-sm-0">
    <DataAnnotationsValidator></DataAnnotationsValidator>
   
    <label>Id:</label>
    <InputNumber class="form-control" @bind-Value="Articulo.Id" placeholder="nn" />
    <ValidationMessage For="() => Articulo.Id"></ValidationMessage>

    <label>Articulo:</label>
    <InputText class="form-control" @bind-Value="Articulo.Descripcion" placeholder="Descripcion" />

    <label>Precio:</label>
    <InputNumber class="form-control" @bind-Value="Articulo.Precio" placeholder="Precio" />

    <ValidationMessage For="() => Articulo.Precio"></ValidationMessage>
</EditForm>


@code {

    private Articulo Articulo { get; set; } = new Articulo();

    private List<Articulo>? articulos;

    protected override async Task OnInitializedAsync()
    {
        articulos = await ArticulosSvc.GetAllAsync();
    }

}

