@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<hr />

<p>
    @* <Counter CurrentCount="value" OnCounterPares="OnContandorPar"></Counter> <!-- Primer ejemplo EventCallback en componente Counter-->*@

    <Counter CurrentCount="value" OnCurrentCountUpdated="OnContandorActualizado"></Counter>
</p>

<hr />

<h3>Pruebas Curso Blazor Escuela IT</h3>

<p>El valor de <strong>name</strong> es : @name <mark>(se actualiza con el evento update del componente counter a su localCount)</mark></p>
<p>...  y <strong>value</strong> es : @value <mark>(lo que le pasamos al componente counter OnParametersSet Ciclo de vida)</mark></p>


Home Button:

<button class="btn btn-primary" @onclick="RestartCount">Paga!</button>

@code {
    private int value = 47;
    private string name = "48"; //En el componente se pone ="int.Parse(name)" 

    private void RestartCount()
    {
        name = "0"; // Solo actualiza el valor de name el primer click, luego no se actualiza más¿?
        value = 0; 
    }
    /*  <!-- Primer ejemplo EventCallback en componente Counter -->
    private void OnContandorPar()
    { 
        name = "El contador es par!"; //Al primer evento ya no actualiza más...Ciclo de vida...
        }

    */

    private void OnContandorActualizado(int newValue)
    {
        name = newValue.ToString();
      //  value = newValue; //Esto no lo debemos hacer
    }
}
